html {
    font-size: 15px;
}
body {
    color: #777;
}
* {
    box-sizing: border-box;
}
.klarify{
    padding: 0!important;
}
.wrapper {
    background: #f9f9f9;
}
.vert {
    height: 100vh;
}
.right {
    width: 350px !important;
}
.history {
    height: calc(100vh - 50px);
    overflow: auto;
    padding: 15px 10px;
}
.chat-box {
    height: 50px;
    border-top: 2px solid #e6e6e6;
    background: #f9f9f9;
}
.shadow {
    box-shadow: -5px 0 5px -5px #333;
    background: white;
}
.chat {
    resize: none;
    width: 100%;
    border: none;
    height: 45px;
    outline: none !important;
    padding: 8px 16px;
}
.inline {
    display: inline-block;
    vertical-align: top;
}
.message {
    padding-top: 15px;
    width: 90%;
}
.logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    margin-right: 5px;
}
.text {
    width: 250px;
    padding-left: 10px;
    font-size: 0.9rem;
    color: #333;
    background: #e6e6e6;
    border-radius: 4px;
}
.name {
    font-weight: bold;
}
.own {
    float: right;
}
.own:after {
    content: " ";
    display: block;
    clear: both;
}
.own .inline {
    float: right;
}
.own .logo {
    display: none;
}
.own .text {
    background: white;
    border: 1px solid #e6e6e6;
}
.video-wrapper {
    padding: 15px;
}
video {
    max-width: 100%;
    height: 20vh;
    min-height: 100px;
    max-height: 20vh;
    background: #333;
}
.vid-wrapper {
    padding: 8px;
    position: relative;
    text-align: center;
}
.master .vid-wrapper {
    padding: 1.5% 40px;
}
.master video {
    width: 100%;
    height: 60.5vh;
    min-height: 200px;
    max-height: 60.5vh;
}
.speaker {
    font-weight: bold;
}
.subtitles {
    position: absolute;
    bottom: 60px;
    left: 0;
    padding: 0 10%;
    width: 100%;
    text-shadow: black 0 0 10px;
    -webkit-text-stroke: 1px #333;
    -webkit-text-fill-color: #f39f18;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 2;
}
